.ContactItem
  width: 100%

  &:not(:last-child)
    margin-bottom: 1rem

  .contact
    display: flex
    align-items: center
    background-color: #191d2b
    padding: 3rem 0

    .right-items
      margin-left: 2rem

    .contact-icon
      padding: 1.5rem
      border: 1px solid #2e344e
      margin-left: 3rem
      svg 
        font-size: 1.7rem

    .right-items
      h6 
        font-size: 1.4rem
        font-weight: 500
    

.ContactPage
  display: grid
  grid-template-columns: repeat(2, 1fr)
  margin-bottom: 6rem

  @media screen and (max-width: 1270px) 
    grid-template-columns: repeat(1, 1fr)

  .contact-sect
    width: 100%

.contact-sect
  display: flex
  justify-self: content
  flex-direction: column

.title
  margin-bottom: 5rem

