.NavBar 
  height: 100vh
  .nav
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

    .profile
      width: 100%
      text-align: center
      margin-top: 1rem
      border-bottom: 1px solid #2e344e

  .nav-items
    width: 100%
    margin: auto 0
    .nav-item
      list-style: none
      text-align: center
      a
        text-decoration: none
        font-size: inherit
        color: inherit
        display: block
        padding: 5rem 0
        position: relative
        &::before
          content: ''
          position: absolute
          top: 0
          left: 0
          width: 0.4rem
          height: 100%
          background-color: #0381ff33
          transform-origin: bottom
          transform: scale(0)
          overflow: hidden
          transition: transform .6s, .2s width .5s cubic-bezier(1,-0.16,.6,1.35)

          &:hover::before
            width: 100%
            transform: scale(1)
  .footer
    width: 100%
    border-top: 1px solid #2e344e
    p
      text-align: center
      padding: 1rem 0

.active 
  background-color: #037fff

