.HomePage
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 80%

.hero-text
  color: white
  text-align: center
  font-size: 3.6em
  span
    color: #037fff

.h .h-sub-text
  text-align: center

.btn
  padding: 1rem 2rem
  background-color: #037FFF
  outline: none
  border: none
  font-family: inherit
  font-size: inherit
  color: white
  text-transform: uppercase
  cursor: pointer
  letter-spacing: 2px
  margin-top: 1rem
  position: relative
  &::after
    position: absolute
    content: ""
    width: 0
    height: .3rem
    left: 0
    bottom: 0
    background-color: #a4acc4
    transition: all 0.4s ease-in-out
  
  &:hover::after
    width: 100%
  
.btn-port
    padding: .6rem 2rem
    background-color: #0381ff5b
    border: none
    outline: none
    cursor: pointer
    font-size: inherit
    font-family: inherit
    color: white
    margin-bottom: 1rem
    transition: all .3s ease-in-out
    &:not(:last-child)
        margin-right: 1rem
    
    &:hover
        background-color: #037FFF
    
    &:active
        background-color: #037FFF
    
    &:focus
        background-color: #037FFF

.buttons
    display: flex
    justify-content: center
    align-items: center
    margin: 4rem 10rem
    flex-wrap: wrap
    @media screen and (max-width: 1270px)
        margin: 2rem 5rem
    
    @media screen and (max-width: 1100px)
        margin: 2rem 2rem

.icons
    display: flex
    align-items: center
    justify-content: center
    padding: 1.5rem 0

    .icon-holder
        margin-right: 1rem
        .icon
           font-size: 2.8rem
           color: #a4acc4
           transition: all .4s ease-in-out
        
        .fb:hover
            color: blue
        
        .gh:hover
            color: rgba(212, 45, 212, 0.788)

